---
import Layout from '../layouts/Layout.astro';
import Portfolio from '@sections/Portfolio.astro';
import Profile from '@sections/Profile.tsx';

---

<Layout title="MrJay's Simple Portfolio">
	<main>
        <Profile />
        <Portfolio />
	</main>
</Layout>