---
---
<section class="py-24 sm:py-32 px-6 lg:px-10" style={{ backgroundColor: "#00dcda" }} >
    <div class="mx-auto container">
        <h2  class="xl:text-[16rem] lg:text-[13rem] md:text-[10rem] text-[5rem] break-words
        font-sans font-500 md:leading-[16rem] leading-[5rem] text-[#00224c] self-center tracking-tighter"
        >Tech Stack</h2>
    </div>
</section>