@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.empty {
  color: transparent;
  display: none;
}

:root {
  /* Dark blue */
  --blue1: #006091; 



  --black: black;
  --white: white;

  /* Background */
  --blueBackground1: #00dcda;
  --blueBackground2: #039bca;
  --blueBackground3: #1F67B5;
  --blueBackground4: #224AA7;
  --blueBackground5: #202095;
  --blueBackground6: #0B0980;

  /* Font size */
  --titleFontSize: 4.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #000;
}

/* Left */

.leftTitle {
  font-size: var(--titleFontSize);
  font-weight: normal;
  background-color: var(--blue1);
  text-align: center;
  transform: rotate(350deg);
  border: 1px solid black;
  padding: 0px 20px;
  width: fit-content;
}

#mobileButton {
  display: none;
}

/* Header */
.headContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: flex-start;
}

nav .portFolioTitle {
  color: var(--white);
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 5em;
  object-fit: contain;
  font-weight: normal;
  padding-left: 20px;
}

.navContainer {
  margin: auto 0 auto 0;
  text-align: center;
  align-items: center;
  background-position: center;
}

nav ul li {
  display: inline-block;
}

li {
  color: #ffffff;
  font-size: 1em;
  padding: 16px;
  margin: auto;
  text-align: center;
}

nav li:hover {
  background-color: var(--blue1);
  border-radius: 50px;
}

/* Parallax Layers */
.layer-parent {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.layer-parent .layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.layer-parent .whiteMoon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
}

.layer-parent .stars {
  position: absolute;
}

.layer-parent .meteor {
  position: absolute;
}

.blend {
  mix-blend-mode: screen;
}

/* Portfolio  section */
.underSea {
  /* background: linear-gradient(#00dcda, #039bca); */
  background: linear-gradient(var(--blueBackground1), var(--blueBackground2));
  padding: 100px 0px;
}

.portfolioContainer .fadeIn {
  animation: fadeIn 1s;
}

.portfolioContainer {
  height: 15em;
  width: 20em;
  background: lightblue;
  color: black;
  margin: 4em auto;
  text-align: left;
  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}

.portfolioContainer div {
  margin: 10px 20px 10px 20px;
  font-size: 1.25em;
}

.portfolioContainer div.text {
  /* width: fit-content; */
  width: 23em;
  border: 2px solid #006091;
}

.portfolioContainer div.portfolioTitle {
  font-weight: 900;
}

.portfolioContainer div.portfolioDescription {
  font-size: 0.75em;
  font-style: italic;
}

.portfolioContainer a {
  margin: 10px 20px 10px 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.textContainer {
  display: none;
}



/* About me ================================================================= */
.aboutMeContainer {
  /* background: linear-gradient(var(--blueBackground2), #202095); */
  background: linear-gradient(var(--blueBackground2), var(--blueBackground3));
  padding: 100px 20px;
}

#aboutMe .seahorse {
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
  /* padding-right: 25px; */
}
@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}

.contentContainer {
 display: flex;
 flex-direction: row;
}

.myMessageContainer {
  display: grid;
  border: 2px solid rgb(18, 162, 210);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  justify-content:center;
  align-items: center;
  background-position: center;
  place-content: center;
}

.myMessage {
  color: black;
  font-size: 5em;
}

/* Skills =================================================================*/
.skillContainer {
  background: linear-gradient(var(--blueBackground3), var(--blueBackground4));
  padding: 100px 20px;
}

.skillsLogo {
  font-size: 5em;
}

.logoSpace {
  justify-content: space-evenly;
}

.logoText {
  font-size: 2em;
}

.logoContainer {
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Contact =================================================================*/

.cmImgContainer {
  height: 200px;
  max-width: 100%;
  /* background-color: rgb(104, 182, 255); */
  background: linear-gradient(var(--blueBackground4), var(--blueBackground5));

  padding: 20px 0px 0px 0px;
  border-top: 2px solid ;
}

.cmImg {
  max-width: 100%;
  height: 100%;
  /* background-image: url("images/csBackImg.png"); */
  background-repeat: no-repeat;
}

.totalMsgContainer {
  padding: 20px;
}

.msg1Container {
  text-align: center;
  background-color: #2948f7;
  height: 100px;
  width: 350px;
  transform: rotate(-20deg);
  margin-left: 150px;
  border: 2px solid var(--black);
  padding: 0px 25px;
}

.msg1 {
  font-size: var(--titleFontSize);
  margin: auto;
  display: inline-block;
  font-weight: normal;
}

.msg2Container {
  background-color: #489cfc;
  height: 100px;
  width: 200px;
  text-align: center;
  transform: rotate(25deg);
  margin-left: 300px;
  border: 2px solid var(--black);
  padding: 0px 20px;
}

.msg2 {
  font-size: var(--titleFontSize);
  margin: auto;
  font-weight: normal;
}

/* ====================================================================== */

.contactDetailsContainer {
  border-top: 2px solid var(--black);
  padding: 50px;
  /* background-color: rgb(99, 171, 253); */
  background: linear-gradient(var(--blueBackground5), var(--blueBackground6));
  color: var(--black);
}

.contactDetails {
  text-align: center;
  line-height: 1.5;
  border: 3px dashed #2948f7;
  border-radius: 25px;
  background-color: var(--blueBackground3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1.5em;
  font-size: 20px;
}

.smLogo {
  margin: 20px 10px;
  font-size: 2em;
}

.formContainer {
  border-radius: 5px;
  /* padding: 0px 20px; */
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  width: 50%;
  padding: 0 25px;
  margin-top: 6px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(62, 62, 187);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  border-top: 2px solid black;
  background-color: rgb(111, 170, 247);
  height: 40vh;
  /* background-image: url("images/trench.png"); */

  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.messageBox {
  text-align: center;
  padding: 15px;

  margin: auto;
  margin-top: 75px;

  border-bottom: 4px solid rgb(37, 19, 138);
  border-radius: 20px 20px 20px 20px;

  background-color: #3e5ff3;

  /* background-color: #3e5ff3; */
  width: 30%;
}

.copyright {
  color: var(--white);
  font-size: 1em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  margin: 20px;
}

#backToTop {
  background-color: var(--blue1);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  position: fixed;
  bottom: 4.5rem;
  right: 2rem;
  font-family: inherit;
  cursor: pointer;
  color: white;
  display: none;
}

#backToTop .material-icons {
  font-size: 1rem;
}
